header {
  background-color: #1d0a08;
  padding: 10px;
  font-size: 15px;
  color: rgb(34, 13, 13);
}

.btn-group button {
  background-color: #291509; 
  border: none;
  color: rgb(182, 163, 157);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
 
}


.btn-group .button:hover {
  background-color: #5e524e;
}
body {
  background-color: #f3ae8e;
}


p {
  font-size: 18px; 
}